version: 2

jobs:
  test:
    docker:
      - image: rust:1.35-slim-stretch
    steps:
      - checkout
      - run:
          name: install leptonica & tesseract
          command: |
              apt-get update
              apt-get -y install libleptonica-dev libtesseract-dev
      - run:
          name: Version information
          command: rustc --version; cargo --version; rustup --version
      - run:
          name: Calculate dependencies
          command: cargo generate-lockfile
      - restore_cache:
          keys:
            - v4-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Build all targets
          command: cargo build --all --all-targets
      - save_cache:
          paths:
            - /usr/local/cargo/registry
            - target/debug/.fingerprint
            - target/debug/build
            - target/debug/deps
          key: v4-cargo-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - run:
          name: Run all tests
          command: cargo test --all

workflows:
  version: 2
  workflow:
    jobs:
      - test
